<p id="notice"><%= notice %></p>

<p>
  <strong>Coupon status name:</strong>
  <%= @coupon_status.coupon_status_name %>
</p>

<%= link_to 'Edit', edit_coupon_status_path(@coupon_status) %> |
<%= link_to 'Back', coupon_statuses_path %>
