<p id="notice"><%= notice %></p>

<p>
  <strong>Income status name:</strong>
  <%= @income_status.income_status_name %>
</p>

<%= link_to 'Edit', edit_income_status_path(@income_status) %> |
<%= link_to 'Back', income_statuses_path %>
