<p id="notice"><%= notice %></p>

<p>
  <strong>Coupon type name:</strong>
  <%= @coupon_type.coupon_type_name %>
</p>

<%= link_to 'Edit', edit_coupon_type_path(@coupon_type) %> |
<%= link_to 'Back', coupon_types_path %>
