<p id="notice"><%= notice %></p>

<p>
  <strong>Pay status name:</strong>
  <%= @pay_status.pay_status_name %>
</p>

<%= link_to 'Edit', edit_pay_status_path(@pay_status) %> |
<%= link_to 'Back', pay_statuses_path %>
